@import "tailwindcss";

body {
  background-color: rgb(249 250 251);
  min-height: 100vh;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: 500;
  transition: all 200ms;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn-sm {
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
}

.btn-primary {
  background-color: rgb(85 104 211);
  color: white;
}

.btn-primary:hover {
  background-color: rgb(69 83 184);
}

.btn-secondary {
  background-color: rgb(229 231 235);
  color: rgb(31 41 55);
}

.btn-secondary:hover {
  background-color: rgb(209 213 219);
}

.btn-success {
  background-color: rgb(22 163 74);
  color: white;
}

.btn-success:hover {
  background-color: rgb(21 128 61);
}

.btn-danger {
  background-color: rgb(220 38 38);
  color: white;
}

.btn-danger:hover {
  background-color: rgb(185 28 28);
}

.btn-warning {
  background-color: rgb(202 138 4);
  color: white;
}

.btn-warning:hover {
  background-color: rgb(161 98 7);
}

.card {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  transition: box-shadow 200ms;
}

.input, .form-input {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid rgb(209 213 219);
  border-radius: 0.5rem;
  outline: none;
  transition: all 200ms;
}

.input:focus, .form-input:focus {
  border-color: rgb(102 126 234);
  box-shadow: 0 0 0 3px rgb(102 126 234 / 0.1);
}

.form-label {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  color: rgb(55 65 81);
  margin-bottom: 0.25rem;
}