basePath: /api/v1
definitions:
  models.Achievement:
    properties:
      achievementType:
        type: string
      attachments:
        items:
          $ref: '#/definitions/models.Attachment'
        type: array
      createdAt:
        type: string
      description:
        type: string
      details:
        additionalProperties: true
        type: object
      id:
        type: string
      points:
        type: integer
      studentId:
        type: string
      tags:
        items:
          type: string
        type: array
      title:
        type: string
      updatedAt:
        type: string
    type: object
  models.Attachment:
    properties:
      fileName:
        type: string
      fileType:
        type: string
      fileUrl:
        type: string
      uploadedAt:
        type: string
    type: object
  routes.CreateUserRequest:
    properties:
      email:
        type: string
      fullName:
        type: string
      password:
        type: string
      roleName:
        type: string
      username:
        type: string
    type: object
  routes.LoginRequest:
    properties:
      password:
        type: string
      username:
        type: string
    type: object
  routes.RegisterRequest:
    properties:
      email:
        type: string
      fullName:
        type: string
      password:
        type: string
      roleName:
        type: string
      username:
        type: string
    type: object
  routes.RejectRequest:
    properties:
      note:
        type: string
    type: object
  routes.UpdateUserRequest:
    properties:
      fullName:
        type: string
      isActive:
        type: boolean
      roleName:
        type: string
    type: object
host: localhost:3000
info:
  contact:
    email: support@swagger.io
    name: API Support
  description: This is a backend system for managing student achievements.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: Student Achievement System API
  version: "1.0"
paths:
  /achievements:
    get:
      consumes:
      - application/json
      description: Get all achievements for the logged-in student
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties: true
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties: true
            type: object
      security:
      - BearerAuth: []
      summary: Get student achievements
      tags:
      - Achievements
    post:
      consumes:
      - application/json
      description: Create a new achievement (Student)
      parameters:
      - description: Achievement Data
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/models.Achievement'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties: true
            type: object
        "400":
          description: Bad Request
          schema:
            additionalProperties: true
            type: object
      security:
      - BearerAuth: []
      summary: Create achievement
      tags:
      - Achievements
  /achievements/{id}:
    delete:
      consumes:
      - application/json
      description: Delete an achievement (Draft only)
      parameters:
      - description: Achievement ID
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties: true
            type: object
        "400":
          description: Bad Request
          schema:
            additionalProperties: true
            type: object
      security:
      - BearerAuth: []
      summary: Delete achievement
      tags:
      - Achievements
    get:
      consumes:
      - application/json
      description: Get details of a specific achievement
      parameters:
      - description: Achievement ID
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties: true
            type: object
        "404":
          description: Not Found
          schema:
            additionalProperties: true
            type: object
      security:
      - BearerAuth: []
      summary: Get achievement details
      tags:
      - Achievements
    put:
      consumes:
      - application/json
      description: Update an existing achievement (Draft only)
      parameters:
      - description: Achievement ID
        in: path
        name: id
        required: true
        type: string
      - description: Achievement Data
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/models.Achievement'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties: true
            type: object
        "400":
          description: Bad Request
          schema:
            additionalProperties: true
            type: object
      security:
      - BearerAuth: []
      summary: Update achievement
      tags:
      - Achievements
  /achievements/{id}/submit:
    post:
      consumes:
      - application/json
      description: Submit an achievement for verification
      parameters:
      - description: Achievement ID
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties: true
            type: object
        "400":
          description: Bad Request
          schema:
            additionalProperties: true
            type: object
      security:
      - BearerAuth: []
      summary: Submit achievement
      tags:
      - Achievements
  /auth/login:
    post:
      consumes:
      - application/json
      description: Authenticate user and return JWT token
      parameters:
      - description: Login Credentials
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/routes.LoginRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties: true
            type: object
        "400":
          description: Bad Request
          schema:
            additionalProperties: true
            type: object
        "401":
          description: Unauthorized
          schema:
            additionalProperties: true
            type: object
      summary: Login user
      tags:
      - Auth
  /auth/register:
    post:
      consumes:
      - application/json
      description: Register a new user (for testing purposes)
      parameters:
      - description: Register Data
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/routes.RegisterRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties: true
            type: object
        "400":
          description: Bad Request
          schema:
            additionalProperties: true
            type: object
      summary: Register user
      tags:
      - Auth
  /reports/statistics:
    get:
      consumes:
      - application/json
      description: Get statistics of achievements
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties: true
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties: true
            type: object
      security:
      - BearerAuth: []
      summary: Get achievement statistics
      tags:
      - Reports
  /users:
    get:
      consumes:
      - application/json
      description: Get a list of all users (Admin only)
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties: true
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties: true
            type: object
      security:
      - BearerAuth: []
      summary: Get all users
      tags:
      - Users
    post:
      consumes:
      - application/json
      description: Create a new user (Admin only)
      parameters:
      - description: User Data
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/routes.CreateUserRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties: true
            type: object
        "400":
          description: Bad Request
          schema:
            additionalProperties: true
            type: object
      security:
      - BearerAuth: []
      summary: Create a new user
      tags:
      - Users
  /users/{id}:
    delete:
      consumes:
      - application/json
      description: Delete a user
      parameters:
      - description: User ID
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties: true
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties: true
            type: object
      security:
      - BearerAuth: []
      summary: Delete user
      tags:
      - Users
    get:
      consumes:
      - application/json
      description: Get details of a specific user
      parameters:
      - description: User ID
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties: true
            type: object
        "404":
          description: Not Found
          schema:
            additionalProperties: true
            type: object
      security:
      - BearerAuth: []
      summary: Get user by ID
      tags:
      - Users
    put:
      consumes:
      - application/json
      description: Update user details
      parameters:
      - description: User ID
        in: path
        name: id
        required: true
        type: string
      - description: Update Data
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/routes.UpdateUserRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties: true
            type: object
        "400":
          description: Bad Request
          schema:
            additionalProperties: true
            type: object
      security:
      - BearerAuth: []
      summary: Update user
      tags:
      - Users
  /verification/{id}/reject:
    post:
      consumes:
      - application/json
      description: Reject a submitted achievement (Advisor)
      parameters:
      - description: Achievement ID
        in: path
        name: id
        required: true
        type: string
      - description: Rejection Note
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/routes.RejectRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties: true
            type: object
        "400":
          description: Bad Request
          schema:
            additionalProperties: true
            type: object
      security:
      - BearerAuth: []
      summary: Reject achievement
      tags:
      - Verification
  /verification/{id}/verify:
    post:
      consumes:
      - application/json
      description: Verify a submitted achievement (Advisor)
      parameters:
      - description: Achievement ID
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties: true
            type: object
        "400":
          description: Bad Request
          schema:
            additionalProperties: true
            type: object
      security:
      - BearerAuth: []
      summary: Verify achievement
      tags:
      - Verification
securityDefinitions:
  BearerAuth:
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
